<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.iie.server.dao.UserCompetitionMapper">
    <resultMap id="BaseResultMap" type="ac.iie.server.domain.UserCompetition">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="competition_id" jdbcType="VARCHAR" property="competitionId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <resultMap id="UserCompetitionResultMap" type="ac.iie.server.domain.UserCompetition" extends="BaseResultMap">
        <association property="competition" javaType="ac.iie.server.domain.Competition">
            <id column="id" jdbcType="VARCHAR" property="id"/>
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="description" jdbcType="VARCHAR" property="description"/>
            <result column="data_desc" jdbcType="VARCHAR" property="dataDesc"/>
            <result column="is_include_media" jdbcType="BIT" property="isIncludeMedia"/>
            <result column="data_url" jdbcType="VARCHAR" property="dataUrl"/>
            <result column="program_url" jdbcType="VARCHAR" property="programUrl"/>
            <result column="type" jdbcType="INTEGER" property="type"/>
            <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="join_num" jdbcType="INTEGER" property="joinNum"/>
            <result column="status" jdbcType="INTEGER" property="status"/>
            <result column="logo_url" jdbcType="VARCHAR" property="logoUrl"/>
            <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
            <result column="type_id" jdbcType="VARCHAR" property="typeId"/>
            <result column="bonus" jdbcType="INTEGER" property="bonus"/>
            <result column="score_items" jdbcType="VARCHAR" property="scoreItems"/>
            <result column="key_data_map" jdbcType="VARCHAR" property="keyDataMap"/>
            <result column="content" jdbcType="LONGVARCHAR" property="content"/>
            <result column="run_command" jdbcType="LONGVARCHAR" property="runCommand"/>
            <result column="status_msg" jdbcType="LONGVARCHAR" property="status_msg"/>
        </association>
    </resultMap>
    <resultMap id="userResultMap" type="ac.iie.server.domain.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user_competition
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="ac.iie.server.domain.UserCompetition">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        insert into t_user_competition (id,competition_id, user_id, create_time,
        `status`, `type`)
        values (#{id,jdbcType=VARCHAR},#{competitionId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="ac.iie.server.domain.UserCompetition">
    update t_user_competition
    set competition_id = #{competitionId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, competition_id, user_id, create_time, `status`, `type`
    from t_user_competition
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, competition_id, user_id, create_time, `status`, `type`
    from t_user_competition
  </select>
    <select id="selectByUidAndComId" parameterType="ac.iie.server.domain.UserCompetition" resultMap="BaseResultMap">
    select id, competition_id, user_id, create_time, `status`, `type`
    from t_user_competition
    where user_id = #{userId,jdbcType=VARCHAR} and  competition_id= #{competitionId,jdbcType=VARCHAR}
  </select>
  <select id="selectByUid" parameterType="ac.iie.server.domain.UserCompetition" resultMap="UserCompetitionResultMap">
      select tc.*,t.* from t_user_competition as tc,t_competition as t
      where tc.user_id=#{userId,jdbcType=VARCHAR} and tc.competition_id=t.id
      <if test="type!=null">
          and `type`=#{type,jdbcType=INTEGER}
      </if>
      <if test="status!=null">
          and `status`=#{status,jdbcType=INTEGER}
      </if>
  </select>
    <select id="selectByCompIdAndType" parameterType="ac.iie.server.domain.UserCompetition" resultMap="userResultMap">
        select u.id,username from t_user_competition as tc,t_user as u
        where  u.id=tc.user_id and tc.competition_id=#{competitionId,jdbcType=VARCHAR}
    </select>
</mapper>
