<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.iie.server.dao.VersionAnswersMapper">
    <resultMap id="BaseResultMap" type="ac.iie.server.domain.VersionAnswers">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_comp_id" jdbcType="VARCHAR" property="userCompId"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="result_url" jdbcType="VARCHAR" property="resultUrl"/>
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="resource" jdbcType="INTEGER" property="resource"/>
        <result column="run_command" jdbcType="VARCHAR" property="runCommand"/>
        <result column="score" jdbcType="VARCHAR" property="score"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="status_msg" jdbcType="VARCHAR" property="status_msg"/>
        <result column="comp_id" jdbcType="VARCHAR" property="compId"/>
        <result column="comp_name" jdbcType="VARCHAR" property="compName"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_version_answers
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="ac.iie.server.domain.VersionAnswers">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        insert into t_version_answers (user_comp_id, version, result_url,
        upload_time, `status`, detail,
        `resource`, run_command, score,
        `type`,image_url,user_id,user_name,status_msg),`comp_id`
        values (#{userCompId,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{resultUrl,jdbcType=VARCHAR},
        #{uploadTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR},
        #{resource,jdbcType=INTEGER}, #{runCommand,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{imageUrl,jdbcType=VARCHAR},#{compId,jdbcType=VARCHAR}))
    </insert>
    <update id="updateByPrimaryKey" parameterType="ac.iie.server.domain.VersionAnswers">
    update t_version_answers
    set user_comp_id = #{userCompId,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      result_url = #{resultUrl,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      `resource` = #{resource,jdbcType=INTEGER},
      run_command = #{runCommand,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      `type=`#{type,jdbcType=INTEGER},
      user_id=#{userId,jdbcType=VARCHAR},
      user_name=#{userName,jdbcType=VARCHAR},
      image_url#{imageUrl,jdbcType=VARCHAR},
      satus_msg#{statusMsg,jdbcType=VARCHAR}.
      comp_id=#{compId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, user_comp_id, version, result_url, upload_time, `status`, detail, `resource`, 
    run_command, score,`type`,user_id,user_name,image_url,status_msg,comp_id
    from t_version_answers
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_comp_id, version, result_url, upload_time, `status`, detail, `resource`, 
    run_command, score,`type`,user_id,user_name,image_url,status_msg,comp_id
    from t_version_answers
  </select>
    <select id="selectAllByUserComp" parameterType="java.lang.String" resultMap="BaseResultMap">
      select * from t_version_answers where user_comp_id=#{userCompId,jdbcType=VARCHAR}
  </select>

    <select id="selectAllByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select * from t_version_answers where status=#{status,jdbcType=INTEGER}
  </select>

    <update id="updateScore" parameterType="ac.iie.server.domain.VersionAnswers">
      update t_version_answer set score=#{score,jdbcType=VARCHAR},
      detail=#{score,jdbcType=VARCHAR}
      where comp_id=#{compId,jdbcType=VARCHAR} and version=#{version,jdbcType=VARCHAR} and user_id=#{userId,jdbcType=VARCHAR}
  </update>
    <update id="updateStatus">
        update t_version_answer set `status`=#{param1,jdbcType=INTEGER} where `comp_id`=#{param2,jdbcType=VARCHAR} and `version`=#{param3,jdbcType=VARCHAR}
        and  user_name=#{param4,jdbcType=VARCHAR}
    </update>
</mapper>